#root {
  margin: 0 auto;
}

html, body, #root, .App {
  height: 100%;
}

.full-page-without-header{
  height: calc(100% - 77px);
}

.full-page-without-header-and-footer{
  height: calc(100% - 77px - 40px);
}

body {
  margin: 0;
}

.hoverable:hover{
  background-color: #f9f9f9;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hidden-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.show-on-hover-target {
  display: none;
}

.show-on-hover-source:hover > .show-on-hover-target {
  display: block;
}

.redMonacoDecorator{
  &.dark {
    background-color: rgba(100, 0, 0, 0.65);
  }
  &.light {
    background-color: rgba(200, 0, 0, 0.45);
  }
}

.yellowMonacoDecorator{
  &.dark{
    background-color: rgba(100, 100, 0, 0.65);
  }
  &.light{
    background-color: rgba(200, 200, 0, 0.45);
  }
}

.cyanMonacoDecorator {
  &.dark{
    background-color: rgba(0, 100, 100, 0.65);
  }
  &.light{
    background-color: rgba(0, 200, 200, 0.45);
  }
}

.md-text {
  &.dark a {
    color: lightgray;
  }
  &.light a {
    color: #333333;
  }
}