#root {
  margin: 0 auto;
}

html, body, #root, .App {
  height: 100%;
}

.full-page-without-header{
  height: calc(100% - 77px);
}

.full-page-without-header-and-footer{
  height: calc(100% - 77px - 36px);
}

body {
  margin: 0;
}

.hoverable:hover{
  background-color: #f9f9f9;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hidden-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}